.custom-switch {
  display: flex;
  box-sizing: border-box;
  font-size: 12px;
  min-width: 96px;
  cursor: pointer;
  line-height: 1;

  &-button {
    width: fit-content;
    border-top: 1px solid #c4c6cc;
    border-bottom: 1px solid #c4c6cc;
    border-right: 1px solid #c4c6cc;
    padding: 0 10px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    &.pre-button {
      border-right: 0;
    }

    &.active-button {
      border: 1px solid;
    }
  }

  &-button:first-child {
    border-left: 1px solid #c4c6cc;
    border-radius: 2px 0 0 0;
  }

  &-button:last-child {
    border-radius: 0 2px 0 0;
  }

}
