// 宽高
$size-navbar-height: 60px;
$size-sidebar-width: 218px;
$size-sidebar-close-width: 0;
$size-sidebar-close-surplus: 15px;

// 左侧导航条
$left-slider-bar-width: 288px;

// font

// 宽高
$size-navbar-height: 60px;
$size-sidebar-width: 289px;
$size-sidebar-close-width: 0;
$size-sidebar-close-surplus: 15px;

// 字体大小
$font-size-mini: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-big: 18px;
$font-size-large: 20px;
$line-height-base: 16px;
$line-height-medium: 16px;
$line-height-large: 18px;
$component-size-small: 26px;
$component-size-base: 32px;
$component-size-large: 38px;

// 尺寸
$size: ['min','small','normal','medium','large','xl','xxl'];
