// 滑动栏
$color-scrollbar: transparent;
$color-scrollbar-thumb: transparent;
$color-scrollbar-thumb-hover: #dcdee5;
$color-second-text: #666;

// 基础颜色
$primary-color: #3a84ff;
$success-color: #2dcb56;
$warning-color: #ff9c01;
$danger-color: #ea3636;
$default-color: #63656e;


// 背景颜色
$background-color-default: #fff;
$background-color-grounding: #f5f5f5;
$background-color-gray-light: #F5F7FA;
$background-color-gray-lighter: #F0F1F5;
$background-color-gray-lightest: #FAFBFD;

// 分割线
$color-light-border: #424242;
$color-border: #dbdee4;

// 字体颜色
$font-color-base: #333;
$color-button-text: #fafafa;
$title-color: #313238;
$border-color-base: #dcdee5;
$border-color-disable: #dcdee5;

