.monitor-navigation-footer {
  display: flex;
  width: 100%;
  height: 52px;
  font-size: 12px;
  color: #63656e;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .footer-link {
    margin-bottom: 6px;
    color: #3480fe;

    a {
      border-right: 1px solid #3480fe;
      padding: 0 5px;
      text-decoration: none;
      color: #3480fe;
      cursor: pointer;
    }

    :last-child {
      border: 0;
    }

  }
}

.monitor-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #f5f7fa;
}
